[Unit]
Description=feeder cabinet auto feed system
After=network.target
After=klipper.service
After=moonraker.service

[Service]
Type=simple
User=mingda
ExecStart=/home/mingda/feeder_cabinet_venv/bin/feeder_cabinet -c /home/mingda/printer_data/config/config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target 